<!-- Profile Card -->

<h1 class="h1-phrase">Your Profile</h1>
<br>
<div style="display: flex">
  <div>
  <!-- This first div contains the ship profile and the reviews-->
    <div class="section">
    <!-- Ship profile-->
      <h2 class="spaceship-name">Your information</h2>
      <div class="crop-photo">
        <%= cl_image_tag (@user.photo), class: "avatar-xl-large" %>
      </div>
      <p>First name: <%= @user.first_name %></p>
      <p>Last name: <%= @user.last_name %></p>
      <p>Email: <%= @user.email %></p>
    </div>
  </div>

  <div>
  <!-- This second div contains the fixed box with user actions -->
    <div class="section left-your-review-box">
      <p class="booking-form">Options</p>
        <%= link_to('Edit profile', edit_user_path(@user), class: "button margin-bottom")%>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "button") %>
    </div>
  </div>
</div>
<br><br>
<h2>Spaceships you are renting out</h2>
<br>


<div style="display: flex;">
  <% @ships.each do |ship| %>
    <%= link_to spaceship_path(ship) do %> <!-- whole card is clickable -->
      <div class="card">
        <p class="card-title"><%= ship.name %></p>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-infos">
          <p><%=ship.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<br><br>

<!-- if a user has booked other spaceships, they will be displayed in the following -->
<h2>Your planned bookings</h2>
<br>
<% @bookings.each do |booking| %>
  <div class="review">
    <%= cl_image_tag (booking.user.photo), class: "avatar-large" %>
    <div class="review-content">
      <div class="review-infos">
        <p class="review-user-name"><%= booking.user.first_name %> <%= booking.user.last_name %> </p>  <!-- change on user name after-->
        <p class="review-creating-date">From <%= booking.start_date %> to <%= booking.end_date %></p>
        <p>Status: <%= booking.status %></p>
        <% if booking.status == "requested" %>
          <p class="button button-small"><%= link_to "Cancel", user_booking_path(user_id: @user, id: booking), method: :delete, data: { confirm: "Are you sure?" } %></p>
        <% else %>
          <div class="block"></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<!-- If a host has received a booking, it will be display in the following -->
<h2>Your received bookings</h2>
<br>
<% @ships.each do |ship| %>
  <% if ship.bookings.empty?  %>
    <!-- if there is no booking, the ship shouldn't be displayed here -->
  <% else %>
    <h3>Bookings for: <%= ship.name %></h3>
    <br>
    <!-- adding received bookings below -->
    <% ship.bookings.each do |booking| %>
      <div class="review">
        <%= cl_image_tag (booking.user.photo), class: "avatar-large" %>
        <div class="review-content">
          <div class="review-infos">
            <p class="review-user-name"><%= booking.user.first_name %> <%= booking.user.last_name %> </p>  <!-- change on user name after-->
            <p class="review-creating-date">From <%= booking.start_date %> to <%= booking.end_date %></p>
            <p>Status: <%= booking.status %></p>
            <% if booking.status == "requested" %>
              <p class="button"><%= link_to "accept", user_booking_path(user_id: @user, id: booking, status: "accepted"), method: :patch, data: { confirm: "Are you sure?" }  %></p>
              <p class="button"><%= link_to "declined", user_booking_path(user_id: @user, id: booking, status: "declined"), method: :patch, data: { confirm: "Are you sure?" } %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

