<div class="home-splash">

  <h1>Welcome to your journey in space...</h1>
</div>

<br><br><br>

<div class="home-container">
  <h1>Find the perfect spaceship</h1>
  <div class="ships-grid" style="display: flex;">

  <% @ships.each do |ship| %>
    <div class="card">
      <p class="card-title"><%= ship.name %></p>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-infos">
        <p><%=ship.description %></p>
        <p><%= link_to "See details", spaceship_path(ship) %></p>
      </div>
    </div>
  <% end %>

  </div>
</div>

  <div class="home-content">
    <h1>Welcome to your journey to space...</h1>
    <br>
    <div class="homepage-buttons" style= "display: flex; justify-content: center;">
      <%= link_to('I need a spaceship', spaceships_path, method: :get, class: "button") %>
      <%= link_to('I have a spaceship', new_spaceship_path, method: :get, class: "button") %>
    </div>
  </div>
</div>




