<h1>WELCOME to "Create page"</h1>
<p>please fill form the form below</p>


<%= simple_form_for @ship, url: spaceship_path(@ship), method: :patch do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :longitude %>
  <%= f.input :latitude %>
  <%= f.input :region %>
  <%= f.input :min_duration %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.submit "Create a spaseship" %>
<% end %>
