<h1>Add a spaceship</h1>
<br>

<div class="section">

<h2>Tell us about your ship</h2>

<%= simple_form_for @ship, url: spaceships_path do |f| %>
  <%= f.input :name, class: "form-box"%>
  <%= f.input :description, class: "form-box"%>
  <%= f.input :longitude, class: "form-box"%>
  <%= f.input :latitude, class: "form-box"%>
  <%= f.input :region, class: "form-box"%>
  <%= f.input :min_duration, class: "form-box"%>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "Submit", class: "form-button"%>

<% end %>

</div>
