<h1 class="h1-phrase">Ready to roll? This baby is a beast...</h1>
<br>
<div style="display: flex">
  <div>
  <!-- This first div contains the ship profile and the reviews-->
    <div class="section">
    <!-- Ship profile-->
      <h2 class="spaceship-name"><%= @ship.name %></h2>
      <%= cl_image_tag (@ship.photo), class: "spaceship-photo" %>
      <p>Longitude: <%= @ship.longitude %>, Latitude: <%= @ship.latitude %></p>
      <p class="spaceship-description"><%= @ship.description %></p>
      <%= link_to "Back", root_path %>
    </div>
    <br>
    <!-- Reviews-->
    <h2 class="h1-review">Reviews from all over the galaxy</h2>
    <% if @reviews.first == nil %>
      <p class="no-review">No reviews at the moment, be the first to leave it</p>
    <% else %>
      <% @reviews.each do |review| %>
      <div class="review">
        <!-- cl_image_tag ("#{@user[0].photo}"), class: "avatar-large"  -->
        <%= cl_image_tag (@ship.photo), class: "avatar-large" %>
        <div class="review-content">
          <div class="review-infos">

            <p class="review-user-name"><%= @user[0].email %></p>  <!-- change on user name after-->
            <p class="review-creating-date"><small> at </small></p>
            <p><small><%= review.created_at %></small></p>
            <p class="review-rating">Rating: <%= review.rating %></p>
          </div>

          <p class="review-description"><%= review.description %></p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>


<div>
<!-- This second div contains the fixed box with user actions -->
  <div class="section left-your-review-box">
    <p class="booking-form">Book it now</p>

      <%= link_to('Book', new_spaceship_review_path(@ship), method: :get, class: "button margin-bottom")%>

    <% if policy(@reviews).new? %>
      <%= link_to('Add review', new_spaceship_review_path(@ship), method: :get, class: "button margin-bottom")%>
    <% end %>

     <% if policy(@ship).edit? %>
      <%= link_to('Edit', edit_spaceship_path(@ship), method: :get, class: "button margin-bottom")%>
    <% end %>

  </div>
</div>

</div>

